#main h1{
	display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
#recommendPage {
    overflow: auto;
    margin: 0px 100px;
}

#recommendPage h1 {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

#recommendPage .items {
    color: white;
    overflow: visible;
    vertical-align: middle;
    margin-bottom: 50px;
}


#recommendPage .items img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    z-index: 2;
}


.closeButton {
    position: absolute;
    right: 10px; top: 10px;
    cursor: pointer;
    color: white;
    z-index: 5;
    font-size: 50px;
}

.picture {

    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-right: 0px;
    overflow: hidden;
    display: table-row;
    
}

.picture .gradient_video {
    float: right;
    width: 70%;
    position: relative;
    display: table-cell;
}

.picture video {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0px 0px;
}

.picture .gradient {
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.explain_data{
    display: table-cell;
    width: 30%;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
}

.picture .explain {
    
    
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.explain .title {
    color: white;
    font-size: 2em;
    height: 20%;
    margin-top: 5%;
    margin-left: 15%;
}

.explain .title p {
    margin: 0;
}

.explain .description {
    
    color: white;
    font-size: 1em;
    height: 50%;
    overflow: visible;
    margin-left: 15%;
    width: 300px;
    padding:3px;
}

.explain .buttons {
    height: 20%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 20%;
    
}

.explain .buttons .download {
    width: 90px;
    background-color: red;
    border: none;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    cursor: pointer;

}

.explain .buttons .download:hover {

    background-color: black;
    color: white;
    border: 1px solid red;

}

button.like {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left:15px;
    border-width: 1px;
    padding-bottom: 10px;
    background-color: white;
}

button.like:hover {
    border: none;
    background-color: black;
    color: white;
    border: 1px solid red;
}

.bxslider{
    background-color: black;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    
}
.bxslider img{
    
    vertical-align: middle;
    display: inline-block;
    float: none !important;
    margin-top: 20px;
    padding-left:20px;
    
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fdf5e6;
}
.bx-wrapper{
	border:none; box-shadow: none; 
    background-color: black;}
.bx-viewport{
    height:200px !important;
    
}

.description textarea{
    outline: none;
  margin: 0;
  border: none;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  color: white;
  background-color: black;
  min-height: 200px;
  
}
img.item_Picture {
	float: left;
	margin-top: 30px;
}

.mutedButton, .unmutedButton {
	width: 50px;
	height: 50px;
	margin: 0 0;
	line-height: 26px;
	border-radius: 50%;
	border-width: 1px;
	font-size: 30px;
	z-index: 5;
	position: absolute;
	bottom: 30px;
	right: 0;
	padding-left: 15px;
	background-color: white;
}
.mutedButton i, .unmutedButton i{
	color:black;
}